@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-inter);
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  @apply h-full overflow-y-auto min-h-screen;
}

.main-content {
  @apply container relative mx-auto flex h-full max-w-5xl flex-col p-6 sm:p-10 gap-12;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-jura);
  @apply text-balance;
}
p {
  @apply text-pretty;
}

h1 {
  @apply text-3xl font-semibold;
}
h2 {
  @apply text-2xl font-semibold;
}
h3 {
  @apply text-xl font-semibold;
}

@keyframes custom-pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.custom-pulse {
  animation: custom-pulse 500ms cubic-bezier(0.4, 0, 0.6, 1) 1;
}
