@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  @apply h-full overflow-hidden min-h-screen;
}

.main-content {
  @apply container relative mx-auto flex h-full max-w-7xl flex-col p-6 sm:p-10 gap-10;
}
