/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --color-primary: 59, 130, 246; /*#3b82f6*/
  --color-secondary: 14, 165, 233; /*#0ea5e9*/
  --color-tertiary: 99, 102, 241; /*#6366f1*/
  --color-success: 132, 204, 22; /*#84cc16*/
  --color-warning: 234, 179, 8; /*#eab308*/
  --color-error: 212, 25, 118; /*#d41976*/
  --color-surface: 107, 114, 128; /*#6b7280*/
}

.btn {
  @apply ui-px-5 ui-py-2 ui-text-base ui-flex ui-justify-center
  ui-border ui-border-neutral-700 ui-rounded-lg ui-duration-150 backdrop:ui-blur-md;

  &:disabled {
    @apply ui-opacity-50 ui-cursor-not-allowed;
  }

  &:hover {
    @apply ui-brightness-110;
  }
  &:active {
    @apply ui-scale-95;
  }
  &[type='submit'] {
    @apply ui-border-[rgb(var(--color-primary))] !ui-bg-[rgba(var(--color-primary),0.3)];
  }
}

/* Form elements */
.label {
  @apply ui-flex ui-flex-col;
}
input[type='text'],
.textarea {
  @apply ui-rounded-lg ui-bg-transparent ui-transition-all ui-duration-300 ui-resize-none ui-overflow-hidden;
}

.card {
  @apply ui-flex ui-flex-col ui-gap-2 ui-rounded-2xl ui-border ui-transition-colors ui-duration-150 ui-border-neutral-700
  hover:ui-bg-neutral-800/30;

  a {
    @apply ui-h-full ui-px-5 ui-py-4;
  }

  .author {
    @apply ui-text-highlight ui-text-sm;
  }

  .title {
    @apply ui-font-bold ui-text-2xl;
  }

  .content {
    @apply ui-opacity-60;
  }
}

.profile {
  @apply ui-p-3 ui-pb-1 ui-border ui-border-transparent ui-rounded-3xl ui-transition-all ui-duration-300
  hover:ui-border-primary hover:ui-shadow-primary hover:ui-shadow;

  img {
    @apply ui-rounded-full ui-transition-all ui-duration-300;
  }

  figcaption {
    @apply ui-text-xl ui-opacity-70 ui-transition-opacity ui-duration-300;
  }
}

.profile:hover {
  figcaption {
    @apply ui-opacity-100;
  }
}
