/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --color-primary: 59, 130, 246; /*#3b82f6*/
  --color-secondary: 14, 165, 233; /*#0ea5e9*/
  --color-tertiary: 99, 102, 241; /*#6366f1*/
  --color-success: 132, 204, 22; /*#84cc16*/
  --color-warning: 234, 179, 8; /*#eab308*/
  --color-error: 212, 25, 118; /*#d41976*/
  --color-surface: 107, 114, 128; /*#6b7280*/
}

.btn {
  @apply ui-px-5 ui-py-2 ui-text-base ui-flex ui-justify-center
  ui-border ui-border-neutral-700 ui-rounded-lg ui-duration-150 backdrop:ui-blur-md;
}
.btn:disabled {
  @apply ui-opacity-50 ui-cursor-not-allowed;
}
.btn:hover {
  @apply ui-brightness-110;
}
.btn:active {
  @apply ui-scale-95;
}
.btn[type='submit'] {
  @apply ui-border-[rgb(var(--color-primary))] !ui-bg-[rgba(var(--color-primary),0.3)];
}

/* Form elements */
input[type='text'],
.textarea {
  @apply ui-rounded-lg ui-bg-transparent ui-transition-all ui-duration-300 ui-resize-none ui-overflow-hidden;
}

.label {
  @apply ui-flex ui-flex-col;
}
